*, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(89, 131, 252, 1);
    background-image: radial-gradient(circle, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
    background-repeat: no-repeat;
}

}